{% extends "base.html" %}
{% block content %}
    <div class="content content-text">
    
        <h1 class="post-header">New Post</h1>
            <form  method='post' >
                <label for="title">Title For Your New Blog : </label>
                <br>
                <input type="text" name="title" value={{blog_title}} >
                <p class="error">{{title_error}}</p><br><br>
                <label for="Description of Blog" > Your New Blog: </label><br>
                <textarea name="body"  type="text" value={{blog_body}}  ></textarea>
                <p class="error">{{body_error}}</p><br><br>
                
                <input type="submit" value="Add Entry"/>
            </form>
        </div>
           
{% endblock %}
    